.header {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid var(--color-two);
  display: flex;
  height: 65px;
  justify-content: space-around;
  padding: 5px;
  width: 100%;
}

.logo {
  align-items: center;
  display: flex;
  max-height: 100%;
}

.logo h1 {
  font-size: 2rem;
}

.header img {
  height: 50px;
}

.total-text {
  font-family: var(--font-two);
  font-size: 1.3rem;
}

.total-value {
  color: var(--color-four);
  font-family: var(--font-two);
}

.total-currency {
  color: var(--color-one);
  font-family: var(--font-two);
  font-size: 0.8rem;
}

.header-email {
  font-family: var(--font-one);
  font-size: 1.4rem;
}

@media screen and ( max-width : 600px ) {

  .logo h1 {
    font-size: 1.4rem;
  }

  .header img {
    height: 40px;
  }

  .total-text {
    font-size: 1rem;
  }

  .total-currency {
    font-size: 0.5rem;
  }

  .header-email {
    font-size: 0.7rem;
  }

}
